body {
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
  font-family: 'Inter', sans-serif;
}

section {
    display: flex;
    max-width: 91vh;
    background: #FFFFFF;
    border-radius: 20px;
    margin: auto;
    margin-top: 1vh;
    flex-direction: column;
}

/*first img*/

.first {
    
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 28px;
}

.first igm {
    position: absolute;
    width: 213px;
    height: 124px;
    left: 389px;
    top: 321px;
}

.first h1 {
    font-family: 'Inter';
    font-style: bolder;
    font-weight: 600;
    font-size: 36px;
    line-height: 24px;
    color: black;
    padding: 10px;

    flex-wrap: wrap;
    margin: 15px;
}




/*inputs*/

.inputs {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
   
    justify-content: center;
    align-items: center;
    margin: auto;
   
    padding-bottom: 20px;
    
}

.name-container {
    width: 500px;
    margin: 5px auto;
    
    color: #767676;
    
}

.name p {
    margin: 1px;
}

.name input {
    width: 100%;
}



.second-container  {
    display: flex;
    flex-direction: row;
    width: 500px;
    margin: 5px auto;
    
    color: #767676
}

.email {
    flex: 2;
    height: 44px;
    
}

.email p {
    margin-bottom: 1px;
}

.email input {
    width: 90%;
    margin-right: 5px;
   
}



.phone p {
    margin-bottom: 1px;
}

.phone input {
    width: 100%;
    margin-right: 5px;
}



.third-container  {
    display: flex;
    flex-direction: row;
    width: 500px;
    margin: 5px auto;
    margin-bottom: 150px;
    
    color: #767676
}

.password {
    flex: 2;
    height: 44px;
    
}

.password p {
    margin-bottom: 1px;
}

.password input {
    width: 90%;
    margin-right: 5px;
   
}

.birthday p {
    margin-bottom: 1px;
}

.birthday input {
    width: 100%;
    margin-right: 5px;
}






