body {
    margin: 0;
    height: 100%; 
    overflow: hidden;
    padding: 0;
    background-color: #e5e5e5;
    font-family: 'Inter', sans-serif;
  }
  
  
  section {
      background: #FFFFFF;
      border-radius: 20px;
      margin: auto;
      flex-direction: column;
      margin-top: 5vh;
      margin-bottom: 10vh;
      height: 92vh
  }
  
  
  img {
      max-width: 30vh;
  }
  
  
  .main {
      display: flex;
      max-width: 90vh;
  }
  
  /*first img*/
  
  .first {
      text-align: center;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
  }
  
  .first h1 {
      font-family: 'Inter';
      font-weight: bolder;
      font-weight: bolder;
      font-size: 5.8vh;
      color: black;
      padding: 6px;
      margin: 0vh;
  }
  
  
  
  /*inputs*/
  
  .inputs {
      display: flex;
      flex-wrap: wrap;
      margin-left: 4rem;
      margin-right: 4rem;
  
      flex-direction: column;
  }
  
  .error {
      color: red;
      margin: 0.15rem;
      width: 100%;
      padding-bottom: 5px;
      font-family: 'Nunito', sans-serif;
      font-size: 0.90rem;
      visibility: hidden;
    }
  
  input {
      height: 2.5em;
      border-radius: 4px;
      border: 2px solid #AAAAAA;
      padding-left: 8px;
  }
  
  
  ::placeholder {
      font-family: 'Nunito', sans-serif;
      font-size: 0.9rem;
      font-weight: bold;
      
      
  }
  
  
  input[type="date"], input[type="time"] {
      font-family: 'Nunito', sans-serif;
      color: #767676;
  }
  
  
  /*name input*/
  
  
  .name {
      margin-top: 0;
      margin-bottom: 0;
  
      font-family: 'Nunito', sans-serif;
      color: #767676;
      font-size: 0.9rem;
      
  }
  
  .full-name-container input {
      width: 98%;
  }
  
  
  /*email & phone*/
  
  .second-container {
      display: flex;
  }
  
  
  
  /*email*/
  .email-container {
      flex: 2;
  }
  
  
  .email-container input {
      margin-right: 50px;
      width: 90%;
  }
  
  /*phone*/
  .phone-container {
      flex: 1;
  }
  
  .phone-container input {
      width: 94%;
  }
  
  /*password & birthday*/
  
  
  .third-container {
      display: flex;
      flex-direction: column;
  }
  
  /*Password*/
  
  .password-container {
      flex: 2;
  }
  
  .password-container input {
      margin-right: 50px;
      width: 90%;
  }
  
  /*birthday*/
  .birthday-container {
      flex: 1;
  }
  
  .birthday-container input {
      width: 94%;
  }
  
  
  /*check and button*/
  .last-container {
  
      display: flex;
      font-family: 'Nunito', sans-serif;
      font-weight: bold;
      align-items: flex-start;
      justify-content: left;
  
      display: flex;
      flex-wrap: wrap;
      margin-left: 4rem;
      margin-right: 4rem;
  
      flex-direction: row;
  }
  
  /*check box*/
  .check-box-container {
      flex:2;
  }
  
  .check-box-label {
      display: flex;
      font-family: 'Nunito', sans-serif;
      font-weight: bold;
      align-items: flex-start;
      justify-content: left;
     
      
  }
  
  
  
  
  .check-box-label label {
      display: flex;
      padding-top: 3.2px;
      font-weight: bold;
      font-size: 1rem;
      justify-content: center;
      align-items: center;
     flex-wrap: wrap;
  }
  
  .check-box-label input {
      display: flex;
      accent-color: #0DBDBD;
  }
  
  #check-error {
      font-weight: lighter;
  }
  
  
  /*button*/
  .button-container {
      display: flex;
      flex: 1;
      justify-content: end;
      
    
      font-weight: bold;
      
  }
  
  .button-container button {
      font-family: 'Nunito', sans-serif;
      font-weight: bold;
      text-align: center;
      color: white;
      font-size: 1.2rem;
  
      padding: 6px;
      background-color: #0DBDBD;
      border-radius: 9px;
      border: 2px solid #0DBDBD; 
      cursor: pointer;
      
  } 
  
  /*return page*/
  .second {
      margin-bottom: 45%;
  }
  
  .return {
      display: none;
      justify-content: center;
      align-items: center;
  }
  
  .return-button {
      
      font-family: 'Nunito', sans-serif;
      font-size: 5.8vh;    text-align: center;
      color: white;
      font-weight: bold;
  
      padding: 5.9vh;
      background-color: #0DBDBD;;
      border-radius: 9px;
      border: 2px solid #0DBDBD; 
      cursor: pointer;
  
  }
  
  .second h1 {
      text-align: center;
      font-family: 'Inter';
      font-weight: bolder;
      font-weight: bolder;
      font-size: 5.8vh;
      padding: 6px;
      margin: 0vh;
  }


  /*media queries*/

@media only screen and (max-width: 680px) {
    html {
        overflow-x: hidden;
        overflow-y: hidden;
    }
    
    body {
      position: relative;
      background-color: white;
    }

    .main {
        max-width: 100%;
        height: 100%;
    }


    .main h1 {
        font-size: 2.3rem;
    }
    
    input {
        height: 2.6em;
        border-radius: 4px;
        border: 2px solid #AAAAAA;
        padding-left: 8px;
    }

    .error {
        display: none;
    }

    .name {
        font-size: 1.2rem;
    }

    .full-name-container {
        font-size: 1.3rem;
        width: 98%;
        margin-bottom: 7%;
    }

    ::placeholder {
        font-family: 'Nunito', sans-serif;
        font-size: 0.8rem;
        font-weight: bold;
        
        
    }


    .inputs {
      margin-left: 0.6rem;
      margin-right: 0.6rem;
    }

    .second-container {
        flex-direction: column;
        width: 100%;
       
        
    }
    
    .third-container {
        flex-direction: row;
        width: 100%;
    }

    .last-container {
        flex-direction: row;
        
    }

    .email-container input {
        width: 96%;
        margin-bottom: 7%;
    }

    .phone-container input {
        width: 90%;
        margin-right: 8%;
    }

    .birthday-container  {
        width: 90%;
        margin-left: 8%;
    }

    .birthday-container input {
        width: 91.5%;
    }

    .last-container {
        margin: 4%;
        flex-direction: column;
        justify-content: space-around;
    }


    .check-box-container {
        max-height: 50px;
    }


    .checkbox__control {
         width: 1.2em;
         height: 1.2em;
     }


     #button {
         width: 100%;
         padding: 4%;
         margin-top: 5%;
     }



     /*retunr page*/
     .return {
         width: 70%;
     }

     span {
         font-size: 1.15rem;
         font-weight: bold;
     }

     .button-container {
         width: 100%;
     }

    
     .return-button {
        padding: 1rem;
        width: 100%;
       
    }

    


}


